/* Navbar */

.navbar-nav {
  width: 100%;
}

#navButton{
  width: 15%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background-color: black;
  color: white;
}

.ml-auto {
  margin-left: auto;
  
}

.intro-header{
display: flex;
justify-content: center;
align-items: center;
background-image: url(images/code.jpg);
position: relative;
width: 100%;
height: auto;
}

.intro-text{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}